@import url('https://fonts.goggleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');



body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(109.1deg, rgb(198, 107, 122) 7.1%, rgb(239, 147, 173) 86.4%);
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.navlist{
  display: flex;
  text-transform: uppercase;
  list-style: none;
  position: fixed;
  left: 50px;
  margin-left: 50px;
  
 
}

.navlist a, #scroll-up-link a{
  color: #1e0c0c;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
  
}

.navlist a:hover, #scroll-up-link a:hover {
  color:#cb1711;
  border-bottom: 2px solid #cb1711;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: #7c0004; 
}

.testimonial-area .container{
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.testimonial-area .container .sec-title:before{
  font-family: "Playfair display";
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 15px;
}

.testimonial-area .container .sec-title:after{
  font-family: "Playfair display";
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 3px;
  background: #fff;
}

.testimonial-area .container .sec-title h2{
  font-family: "Playfair display";
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5e080f;
}

.testimonial-area .container .sec-title p{
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-transform: capitalize;
}

.testimonial-area{
  background: linear-gradient(109.1deg, rgb(198, 107, 122) 7.1%, rgb(239, 147, 173) 86.4%);
  position: relative;
  z-index: 2;
  padding: 50px 0;
}

.testimonial-area .owl-carousel{
  overflow: hidden;
  padding: 0 20px;
  margin: 0 -40px;
  padding-right: 40px;
}

.owl-carousel .owl-stage-outer{
  padding: 30px 50px;
  margin-left: -35px;
  width: calc(100% + 100px);
}

.single-testimonial{
  border: 7px solid #fff;
  text-align: center;
  border-radius: 45px;
  position: relative;
  z-index: 2;
}

.single-testimonial p{
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 50px;
  padding-bottom: 30px;
  position: relative;
  z-index: 3;
}

.client-info{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: Left;
  padding-bottom: 50px;
}

.client-info .client-details h6{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.client-info .client-details span{
  display: inline-block;
  color: #fff;
  font-size: 13px;
}

.client-info .client-pic{
  padding-right: 15px;
}

.client-info .client-pic img{
  width: 100%;
  border-radius: 50px;
}

.owl-dots{
  text-align: center;
  
}

.owl-dots button{
  background: #fff !important;
  width: 15px;
  height: 15px;
  border-radius: 26px;
  margin: 0 5px;
  transition: 0 3s;
}

.owl-dots button.active{
  width: 30px;
}

.single-testimonial:before{
  content: '';
  position: absolute;
  left: -35px;
  top: -35px;
  width: 126px;
  height: 100px;
}

.single-testimonial:before{
  content: '';
  position: absolute;
  right: -35px;
  bottom: -35px;
  width: 126px;
  height: 100px;
}

.scroll-up {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-up i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: #fdf2f9;
    background:#ea8699;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-up i:hover {
    transform: translateY(-5px);
}

.hide {
    display: none;
}

#scroll-up-link {
    position: absolute;
    width: 120px;
    height: 30px;
    top: 625px;
    right: 100px;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    padding-bottom: 50px;
    transition: all .55s ease;
}

#scroll-up-link a {
    display: block;
    margin: 7px 0;
    margin-left: 15px;
    width: 90px;
}